%h1= page_title password_form_title

- semantic_form_for(@user, :url => password_path(@user.perishable_token), :method => :put) do |f|
  != f.input :password
  != f.input :password_confirmation
  != f.submit password_submit_label
