%tr{:class => cycle("odd", "even")}
  %td!=h user.name
  %td!=h user.email
  %td!=h user.is_admin
  %td.show!= button_to "Show", user_path(user), :method => "get"
  %td.edit!= button_to "Edit", edit_user_path(user), :method => "get"
  %td.delete!= button_to "Delete", user, :method => "delete"
